<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="com.*"/>
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/"
		p:suffix=".jsp"
	/>
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="org.mariadb.jdbc.Driver"
		p:url="jdbc:mariadb://localhost:3306/oway"
		p:username="root"
		p:password="1234"
	/>
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="ds"
	/>
	<bean id="boardDAO" name="boardDAO" class="com.practice.board.BoardDAO"/>
	<bean id="mapper" name="boardMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"
		p:sqlSessionFactory-ref="ssf"
		p:mapperInterface="com.practice.board.BoardMapper"
	/>
</beans>
